<div>
    <h2>{{lesson.lessonNumber}}. {{ lesson.title }}</h2>
    <p>{{ lesson.content }}</p>

    {% if lesson.questions %}
        {% for question in lesson.questions %}
            <p>Question time</p>
            <h3>{{ question.title }}</h3>
            <p>{{ question.answerType }}</p>

            <form action="{{ path('aiAnswer') }}" method="POST" data-question-id="{{ question.id }}">
                <textarea name="answer" placeholder="Type your answer here."></textarea>
                <input type="hidden" name="question_id" value="{{ question.id }}">
                <button type="submit">Submit answer</button>
            </form>
        {% endfor %}
    {% endif %}
</div>


