<div>
	<div class="relative w-full h-[108px] bg-[#1F2237] flex items-center">
		<a href="{{ path('dashboard') }}" class="absolute left-8 inline-flex items-center justify-center p-0.5 overflow-hidden text-lg font-semibold text-[#1F2237] rounded-[30px] group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
			<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-[30px] group-hover:bg-opacity-0 flex items-center">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2 mb-1.5">
					<path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
				</svg>
				<span class="align-middle">Back</span>
			</span>
		</a>
		<p class="font-bold text-3xl text-center text-white py-5 leading-1 w-full">
			{{ selectedCourse.title }}
			<br>
			{% if selectedCourse.title == 'Anxiety Management' %}
				<span class="text-lg font-medium text-slate-300">Remember this journey is about progress, not perfection. You got this!</span>
			{% elseif selectedCourse.title == 'Depression Coping' %}
				<span class="text-lg font-medium text-slate-300">Take it one step at a time. Small actions can lead to big changes. Keep moving forward.</span>
			{% elseif selectedCourse.title == 'Stress Relief' %}
				<span class="text-lg font-medium text-slate-300">Breathe deeply and allow yourself a moment of calm. You deserve it!</span>
			{% elseif selectedCourse.title == 'Confidence Building' %}
				<span class="text-lg font-medium text-slate-300">Believe in your strengths and keep challenging yourself. You've got the power!</span>
			{% elseif selectedCourse.title == 'Relationship Health' %}
				<span class="text-lg font-medium text-slate-300">Healthy relationships start with understanding and communication. You're on the right path!</span>
			{% elseif selectedCourse.title == 'Trauma Recovery' %}
				<span class="text-lg font-medium text-slate-300">Healing takes time. Be gentle with yourself and embrace each step of recovery.</span>
			{% endif %}
		</p>
	</div>

	{% if selectedCourse %}
		<div class="courseTemplate">
			<div id="course-description" class="flex flex-col justify-center items-center">
				<div class="service-card mx-10 shadow-xl snap-start shrink-0 py-10 px-8 bg-[#1F2237] flex flex-col items-start gap-4 transition-all duration-300 group rounded-[30px] mt-6">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="#000000" class="text-6xl h-14 w-14 stroke-slate-300">
						<path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z"/>
					</svg>

					<p class="font-bold text-3xl text-white">
						Journey Goals
					</p>
					<p class="text-slate-300 text-xl">
						{{ selectedCourse.description }}
					</p>
					<p style="-webkit-text-stroke: 2px white; -webkit-text-fill-color: transparent;" class="text-6xl font-bold self-end">
						{{ selectedCourse.category }}
					</p>
				</div>

				<a href="{{ path('selectJourney', {'courseId': selectedCourse.id}) }}" class="relative inline-flex items-center justify-center p-0.5 mb-4 me-2 overflow-hidden text-lg font-semibold text-gray-900 rounded-[30px] group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 mt-6">
						<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-[30px] group-hover:bg-opacity-0 flex items-center">
							Add to My Journeys
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 ml-2">
  								<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
							</svg>
						</span>
				</a>
			</div>

			<div id="lesson-content" style="display: {% if selectedLesson %} block {% else %} none {% endif %};">
				{% if selectedLesson %}
					<h2>{{ selectedLesson.title }}</h2>
					<p>{{ selectedLesson.content }}</p>
				{% endif %}

			</div>

			<div class="w-96 h-[639px] lessons-list">
				<div class="w-96 text-lg font-medium text-gray-900">
					<a href="#" class="block px-4 py-2 text-white bg-[#3F446F] border-b border-white text-2xl font-semibold flex items-center">
						Journey Stops
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-2">
							<path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
						</svg>
					</a>

					{% for lesson in selectedCourse.lessons %}
						<a href="javascript:void(0);" class="lesson-link flex px-4 py-2 mt-[1px] bg-[#E5E8FD] border-b border-white cursor-pointer hover:bg-[#8E99F9] hover:text-white font-medium" data-lesson-id="{{ lesson.id }}">
							{{ lesson.lessonNumber }}:
							{{ lesson.title }}
						</a>
					{% endfor %}
				</div>
			</div>
			<button id="next" class="cursor-pointer duration-200 hover:scale-125 active:scale-100">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="#6E77C2" class="size-6">
					<path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
				</svg>
			</button>
		</div>
	{% endif %}
	{% if selectedLesson %}
		<div>
			<h2>Lesson title:
				{{ selectedLesson.title }}</h2>
		</div>
	{% endif %}
	<style>
		.isActive {
			background-color: #6E77C2;
			color: white;
		}

		#next {
			position: absolute;
			right: 430px;
			bottom: 85px;
		}
	</style>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
const lessonLinks = document.querySelectorAll('.lesson-link');
const nextButton = document.getElementById("next");
nextButton.style.display = "none"

let activeLinkIndex = -1;

const updateActiveLink = (newIndex) => {
lessonLinks[activeLinkIndex] ?. classList.remove("isActive");
activeLinkIndex = newIndex;
lessonLinks[activeLinkIndex] ?. classList.add("isActive");
if (activeLinkIndex !== -1) 
nextButton.style.display = "block"





};

const loadLessonContent = (e, index) => {
updateActiveLink(index);

const lessonId = e.getAttribute('data-lesson-id');
fetch(`/dashboard/lesson/${lessonId}`).then(response => response.text()).then(data => {
const lessonContent = document.getElementById('lesson-content');
lessonContent.innerHTML = data;
lessonContent.style.display = "block";
document.getElementById("course-description").style.display = "none";
}).catch(error => {
console.error('Error fetching lesson content:', error);
});
};

lessonLinks.forEach((link, index) => {
link.addEventListener('click', (e) => {
loadLessonContent(e.target, index)
});
});

nextButton.addEventListener("click", () => {
if (activeLinkIndex < lessonLinks.length - 1) {
loadLessonContent(lessonLinks[activeLinkIndex + 1], activeLinkIndex + 1)
lessonLinks[activeLinkIndex - 1].setAttribute("completed", true)
const svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
svg.setAttribute("xmlns", "http://www.w3.org/2000/svg");
svg.setAttribute("viewBox", "0 0 24 24");
svg.setAttribute("fill", "currentColor");
svg.setAttribute("class", "w-5 h-5 ml-2 mt-1");

const path = document.createElementNS("http://www.w3.org/2000/svg", "path");
path.setAttribute("fill-rule", "evenodd");
path.setAttribute("d", "M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z");
path.setAttribute("clip-rule", "evenodd");
svg.appendChild(path);
lessonLinks[activeLinkIndex - 1].appendChild(svg);
}
});
});
	</script>
</div>
