<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}sewai | Home
			{% endblock %}
		</title>
		<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ importmap() }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% if not app.user %}
				<nav class="bg-green-500 border-gray-200 dark:bg-gray-900">
					<div class="bg-green-500 flex items-center justify-between p-4">
						<a href="{{ path('home') }}" class="flex items-center space-x-3 rtl:space-x-reverse">
							<img src="{{ asset('imgs/sewaiLogoBlack.png') }}" class="h-8"/>
						</a>
						<div class="bg-green-500 flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
							<button type="button" class="text-white bg-black hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-[30px] text-lg px-4 py-2 text-center" onclick="window.location.href='{{ path('login') }}'">Log in</button>
						</div>
						<div class="mr-6 bg-green-500 items-center justify-between hidden w-full md:flex md:w-auto md:order-1 ml-auto" id="navbar-cta">
							<ul class="bg-green-500 flex flex-col font-semibold text-xl p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
								<li class="bg-green-500 flex items-center">
									<a href="#" class="bg-green-500 block py-2 px-3 md:p-0 text-white hover:text-black md:hover:bg-transparent dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent dark:border-gray-700">About</a>
								</li>
								<li class="bg-green-500 flex items-center">
									<a href="#" class="bg-green-500 block py-2 px-3 md:p-0 text-white hover:text-black md:hover:bg-transparent dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent dark:border-gray-700">Courses</a>
								</li>
								<li class="bg-green-500 flex items-center">
									<a href="#" class="bg-green-500 block py-2 px-3 md:p-0 text-white hover:text-black md:hover:bg-transparent dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent dark:border-gray-700">Team</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			{% endif %}

			{% if app.user %}
				<nav class="bg-green-500 border-gray-200 dark:bg-gray-900">
					<div class="bg-green-500 flex items-center justify-between p-4">
						<a href="{{ path('home') }}" class="flex items-center space-x-3 rtl:space-x-reverse">
							<img src="{{ asset('imgs/sewaiLogoBlack.png') }}" class="h-8"/>
						</a>
						<div class="bg-green-500 flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
							<button type="button" class="text-white bg-black hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-[30px] text-lg px-4 py-2 text-center" onclick="window.location.href='{{ path('app_logout') }}'">Logout</button>
						</div>
						<div class="mr-6 bg-green-500 items-center justify-between hidden w-full md:flex md:w-auto md:order-1 ml-auto" id="navbar-cta">
							<ul class="bg-green-500 flex flex-col font-semibold text-xl p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
								<li class="bg-green-500 flex items-center">
									<a href="#" class="bg-green-500 block py-2 px-3 md:p-0 text-white hover:text-black md:hover:bg-transparent dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent dark:border-gray-700">About</a>
								</li>
								<li class="bg-green-500 flex items-center">
									<a href="#" class="bg-green-500 block py-2 px-3 md:p-0 text-white hover:text-black md:hover:bg-transparent dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent dark:border-gray-700">Courses</a>
								</li>
								<li class="bg-green-500 flex items-center">
									<a href="#" class="bg-green-500 block py-2 px-3 md:p-0 text-white hover:text-black md:hover:bg-transparent dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent dark:border-gray-700">Team</a>
								</li>
								<li class="bg-green-500 flex items-center">
									<a href="{{ path('dashboard') }}" class="bg-green-500 flex items-center py-2 px-3 md:p-0 text-white hover:text-black md:hover:bg-transparent dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent dark:border-gray-700">
										<img src="{{ asset('imgs/profileIcon.png') }}" class="w-11 h-11 rounded-full">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			{% endif %}


		{% endblock %}
		{% block body %}
			<div class="flex flex-col justify-center items-center text-center py-[14.3rem]">
				<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-black md:text-5xl lg:text-6xl">
					Inner strength. Outer calm. Healing synergy.
				</h1>
				<p class="mb-6 text-[24px] font-normal text-gray-400 xl:px-48 mx-28">
					Sewai offers self-paced, auto-learning courses designed to empower you with the tools to understand, heal, and grow. From managing anxiety and depression to practicing mindfulness and self-care, our practical lessons help you build inner strength and outer calm. Take control of your well-being—one lesson at a time.
				</p>
				<a href="{{ path('login') }}" class="w-40 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-[30px] group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200">
					<span class="w-40 relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-[30px] group-hover:bg-opacity-0 text-xl font-semibold">
						Get started
					</span>
				</a>
			</div>


		{% endblock %}
		{% block footer %}
			<footer class="bg-lime-100 shadow">
				<div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
					<span class="text-sm text-gray-900">© 2024
						<span class="font-bold">sewai</span>
						by
						<a href="https://github.com/Gyomiel" class="font-bold hover:underline">Gyomiel</a>. All Rights Reserved.
					</span>
					<ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
						<li>
							<a href="#" class="hover:underline me-4 md:me-6">About</a>
						</li>
						<li>
							<a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
						</li>
						<li>
							<a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
						</li>
						<li>
							<a href="#" class="hover:underline">Contact</a>
						</li>
					</ul>
				</div>
			</footer>


		{% endblock %}
	</body>
</html></body></html>
